<configuration>
    
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

  <property name="STDOUT_LOG_PATTERN" value="[%-5level] [%thread] - %msg%n"/>
  <property name="STDOUT_DETAIL_LOG_PATTERN" value="[%-5level] [%thread] %logger{36} - %msg%n%caller{1}%n"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${STDOUT_LOG_PATTERN}</pattern>
      <charset>utf-8</charset>
    </encoder>
  </appender>


  <!--
    The logger name is typically the Java/Scala package name.
    This configures the log level to log at for a package and its children packages.
  -->
  <logger name="play" level="DEBUG" />
  <logger name="application" level="DEBUG" />
  <logger name="com.github.dtaniwaki" level="DEBUG" />

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
