@(key: String)(endpoint: String)

@main("Akka Pusher") {
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher("@key", {
      authEndpoint: "/@endpoint/auth",
      encrypted: true
    });
  </script>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script>
    $(function() {
      var channel;
      $("#subscriptionForm").submit(function(e) {
        e.preventDefault();
        var $form = $(this);
        var channelName = $form.find("#subscriptionFormChannel").val();
        var eventName = $form.find("#subscriptionFormEvent").val();
        if (!channel || channel.name !== channelName) {
          if (channel && channel.name !== channelName) {
            pusher.unsubscribe(channel.name);
          }
          channel = pusher.subscribe(channelName);
          channel.bind(eventName, function(data) {
            $("#messagesTable").prepend("<li class=\"list-group-item\">" + data + "</li>");
          });
        }
        $("#messagesTable").html("");
        alert("Successfully subscribe the channel and event.");
      });

      $("#triggerForm, #channelForm, #channelsForm, #usersForm").submit(function(e) {
        e.preventDefault();
        var $form = $(this);
        var formData = { "socket_id": pusher.connection.socket_id }
        $.each($form.serializeArray(), function(idx) {
          formData[this.name] = this.value;
        });
        $.ajax({
          url: $form.attr("action"),
          type: "POST",
          data: JSON.stringify(formData),
          dataType: "json",
          contentType: "application/json"
        }).done(function(data, textStatus, jqXHR){
          $form.find("pre.result").remove();
          $form.append($("<pre class='result'>").text(JSON.stringify(data)));
        }).fail(function(jqXHR, textStatus, errorThrown){
          alert(jqXHR.responseText);
        });
      });
    });
  </script>
} {
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1><a href="https://github.com/dtaniwaki/akka-pusher-play-app" target="_blank">akka-pusher-play-app</a> (@endpoint)</h1>
        </div>
      </div>
    </nav>

    <div class="well">
      You can open this page in multiple tabs. This page will not receive the messages sent from itself. :)<br>
      <a href="/pusher_actor" target="_blank">Actor Client (pusher_actor)</a> / <a href="/pusher" target="_blank">Non-Actor Client (pusher)</a>
    </div>

    <div class="col-md-6">
      <h2 id="triggerFormHead">Trigger</h2>
      <form action="/@endpoint/trigger" method="post" id="triggerForm">
        <div class="form-group">
          <label for="triggerFormChannel">Channel</label>
          <input type="text" name="channel" placeholder="private-test_channel" id="triggerFormChannel" class="form-control">
        </div>
        <div class="form-group">
          <label for="triggerFormEvent">Event</label>
          <input type="text" name="event" placeholder="my_event" id="triggerFormEvent" class="form-control">
        </div>
        <div class="form-group">
          <label for="triggerFormBody">Body</label>
          <input type="text" name="body" placeholder="hello" id="triggerFormBody" class="form-control">
        </div>
        <input type="submit" name="submit" value="Submit" class="btn btn-default">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="batch" id="triggerFormBatch" value="true">
            batch
          </label>
        </div>
      </form>
      <h2 id="channelFormHead">Channel</h2>
      <form action="/@endpoint/channel" method="post" id="channelForm">
        <div class="form-group">
          <label for="channelFormChannel">Channel</label>
          <input type="text" name="channel" placeholder="test-channel" id="channelFormPrefix" class="form-control">
        </div>
        <input type="submit" name="submit" value="Submit" class="btn btn-default">
      </form>
      <h2 id="channelsFormHead">Channels</h2>
      <form action="/@endpoint/channels" method="post" id="channelsForm">
        <div class="form-group">
          <label for="channelsFormPrefix">Prefix</label>
          <input type="text" name="prefix" placeholder="test-" id="channelsFormPrefix" class="form-control">
        </div>
        <input type="submit" name="submit" value="Submit" class="btn btn-default">
      </form>
      <h2 id="usersFormHead">Channel</h2>
      <form action="/@endpoint/users" method="post" id="usersForm">
        <div class="form-group">
          <label for="usersFormChannel">Channel</label>
          <input type="text" name="channel" placeholder="test-users" id="usersFormPrefix" class="form-control">
        </div>
        <input type="submit" name="submit" value="Submit" class="btn btn-default">
      </form>
    </div>

    <div class="col-md-6">
      <h2 id="subscription">Subscription</h2>
      <form action="#" method="post" id="subscriptionForm">
        <div class="form-group">
          <label for="subscriptionFormChannel">Channel</label>
          <input type="text" name="channel" placeholder="private-test_channel" id="subscriptionFormChannel" class="form-control">
        </div>
        <div class="form-group">
          <label for="subscriptionFormEvent">Event</label>
          <input type="text" name="event" value="chat" id="subscriptionFormEvent" class="form-control" readonly>
        </div>
        <input type="submit" name="submit" value="Set" class="btn btn-default">
      </form>
      <h3 id="messages">Messages</h3>
      <ul class="list-group" id="messagesTable">
      </ul>
    </div>
  </div>
}
