@(key: String)(endpoint: String)

@main("Akka Pusher") {
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher("@key", {
      encrypted: true
    });
  </script>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script>
    $(function() {
      var subscribe = function(channelName, eventName) {
      };
      var unsubscribe = function(channelName, eventName) {
        var channel = pusher.unsubscribe(channelName);
      }

      var channel;
      $("#subscriptionForm").submit(function(e) {
        e.preventDefault();
        var $form = $(this);
        var channelName = $form.find("#subscriptionFormChannel").val();
        var eventName = $form.find("#subscriptionFormEvent").val();
        if (!channel || channel.name !== channelName) {
          if (channel && channel.name !== channelName) {
            pusher.unsubscribe(channel.name);
          }
          channel = pusher.subscribe(channelName);
          channel.bind("chat", function(data) {
            $("#messagesTable").prepend("<li class=\"list-group-item\">" + data + "</li>");
          });
        }
        $("#messagesTable").html("");
        alert("Successfully subscribe the channel and event.");
      });

      $("#triggerForm").submit(function(e) {
        e.preventDefault();
        var $form = $(this);
        var formData = { "socket_id": pusher.connection.socket_id }
        $.each($form.serializeArray(), function(idx) {
          formData[this.name] = this.value;
        });
        $.ajax({
          url: $form.attr("action"),
          type: "POST",
          data: JSON.stringify(formData),
          dataType: "json",
          contentType: "application/json"
        }).done(function(){
          alert("The message has been sent.");
        });
      });
    });
  </script>
} {
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1>akka-pusher-play-app</h1>
        </div>
      </div>
    </nav>

    <div class="well">You can <a href="/pusher_actor" target="_blank">open this page in multiple tabs.</a> This page will not receive the messages sent from this page. :)</div>

    <div class="col-md-6">
      <h2 id="triggerFormHead">Trigger</h2>
      <form action="/pusher_actor/trigger" method="post" id="triggerForm">
        <div class="form-group">
          <label for="triggerFormChannel">Channel</label>
          <input type="text" name="channel" placeholder="private-test_channel" id="triggerFormChannel" class="form-control">
        </div>
        <div class="form-group">
          <label for="triggerFormEvent">Event</label>
          <input type="text" name="event" placeholder="my_event" id="triggerFormEvent" class="form-control">
        </div>
        <div class="form-group">
          <label for="triggerFormBody">Body</label>
          <input type="text" name="body" placeholder="hello" id="triggerFormBody" class="form-control">
        </div>
        <input type="submit" name="submit" value="Submit" class="btn btn-default">
      </form>
    </div>

    <div class="col-md-6">
      <h2 id="subscription">Subscription</h2>
      <form action="#" method="post" id="subscriptionForm">
        <div class="form-group">
          <label for="subscriptionFormChannel">Channel</label>
          <input type="text" name="channel" placeholder="private-test_channel" id="subscriptionFormChannel" class="form-control">
        </div>
        <div class="form-group">
          <label for="subscriptionFormEvent">Event</label>
          <input type="text" name="event" placeholder="my_event" id="subscriptionFormEvent" class="form-control">
        </div>
        <input type="submit" name="submit" value="Set" class="btn btn-default">
      </form>
      <h3 id="messages">Messages</h3>
      <ul class="list-group" id="messagesTable">
      </ul>
    </div>
  </div>
}
